.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

.flexOne {
    display: flex;
    justify-items: flex-start;

    .square {
        margin: 5px;
    }
}

.flexTwo {
    display: flex;
    flex-direction: column;
    .square {
        margin: 2px;
    }
}

.flexThree {
    display: flex;   
    flex-direction: row-reverse;
    justify-content: flex-end;
    .square {
        margin: 2px;
    }
}

.flexFour {
    display: flex; 
    width: 350px;
    flex-wrap: wrap;     

    .square {
        margin: 5px;
        background-color: #3d8b6d;
    }
}

.flexFive {
    display: flex;
    width: 350px;

    .item {
        width: 100px;
        height: 100px;
        background-color: #0b6643;
        margin: 2px;
        
    }

    #grow {
          flex-grow: 2;
         }
}

.flexSix {
    display: flex;
    height: 400px;
    width: 500px;
    background-color:  #f1f1f1;
    flex-direction: column;
    justify-content: space-between;
    
    .one {
        display: flex;
        justify-content: space-around;
    }
    .two {
        display: flex;
        justify-content: space-between;
        background-color: #d6d6d6;
    }
    .three {
        display: flex;
        justify-content: space-evenly;
    }
    
}

.flexSeven {
    display: flex;
    height: 400px;
    width: 500px;
    justify-content: space-between;
    background-color: rgb(233, 228, 228);

    .one {
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }
    .two {
        display: flex;
        flex-direction: column; 
        justify-content: flex-end;
        background-color: lightgrey;

    }
    .three {
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
    }
    .four {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        background-color: lightgrey;
    }
}

.flexEight {
    display: flex;
    
        height: 400px;
        background-color: #eeeeee;
        width: 300px;
    
    .one {
        display: flex;
        align-items: center;
    }
    .two {
        display: flex;
        align-items: flex-end;
    }
    .three {
        display: flex;
        align-items: flex-start;
    }
}

.flexNine {
    display: flex;
    width: 450px;
    height: 250px;
    background-color: #eeeeee;
    align-items: flex-start;
    justify-content: space-evenly;
    #special {
        align-self: flex-end;
    }
}
